<div class="row">
    <h1 class="text-danger text-center">People</h1>
    <hr/>
    <div class="row">
        <!-- Loader Gif -->
        <div id="loader" class="text-center {{loader}}">
            <img src="~/../contents/images/loading.gif" height="200" width="200"/>
        </div>
        <div class="col-md-9 col-md-offset-1 {{loader_view}}">
            <input type="text" placeholder="Type to filter here" class="input-lg form-control" ng-model="txtFilter">
            <br/>
            <br/>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tr ng-repeat="person in people|filter:txtFilter">
                    <td>{{person.id}}</td>
                    <td>{{person.firstname}}</td>
                    <td>{{person.lastname}}</td>
                    <!--<td>
                        <button class="text-center btn btn-success">Details</button>
                    </td>-->
                </tr>
            </table>
        </div>
    </div>
</div>